<div 
    class="content-folder-container flex"
    data-folder-id="<%= folder.id %>" 
    data-folder-parent="<%= folder.parentId %>"
>
    <a 
        class="no-style content-folder-container-icon-name flex"
        href="/myfiles/<%= folder.isDefault ? null : folder.id %>" 
    >
        <svg class="content-folder-icon" xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" fill="#e3e3e3" viewBox="0 -960 960 960">
            <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"/>
        </svg>
        <p class="content-folder content-name" title="<%= folder.name %>">
            <%= folder.name %>
        </p>
    </a>
    <svg class="content-folder-icon content-folder-more-icon more-options-folder-btn" xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" fill="#e3e3e3" viewBox="0 -960 960 960">
        <path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/>
    </svg>
</div>

<% if (folder.children && folder.children.length > 0) { %>
    <div class="sub-folder" style="margin-left: 1.5em;">
        <% folder.children.forEach(child => { %>
                <%- include('folder', { folder: child }) %>
        <% }) %>
    </div>
<% } %>
